@font-face {
    font-family: 'Nunito Sans';
    src: url('./../fonts/NunitoSans-Regular/NunitoSans-Regular.eot');
    src: url('./../fonts/NunitoSans-Regular/NunitoSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/NunitoSans-Regular/NunitoSans-Regular.woff2') format('woff2'),
        url('./../fonts/NunitoSans-Regular/NunitoSans-Regular.woff') format('woff'),
        url('./../fonts/NunitoSans-Regular/NunitoSans-Regular.ttf') format('truetype'),
        url('./../fonts/NunitoSans-Regular/NunitoSans-Regular.svg#NunitoSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans Bold';
    src: url('./../fonts/NunitoSans-Bold/NunitoSans-Bold.eot');
    src: url('./../fonts/NunitoSans-Bold/NunitoSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/NunitoSans-Bold/NunitoSans-Bold.woff2') format('woff2'),
        url('./../fonts/NunitoSans-Bold/NunitoSans-Bold.woff') format('woff'),
        url('./../fonts/NunitoSans-Bold/NunitoSans-Bold.ttf') format('truetype'),
        url('./../fonts/NunitoSans-Bold/NunitoSans-Bold.svg#NunitoSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

$font-regular:'Nunito Sans';
$font-bold:'Nunito Sans Bold'