@import './../../assets/scss/mixins';

.timeline-container {
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 15px auto;

    &__item {
        width: 100%;
        height: auto;
        padding: 20px;
        box-sizing: border-box;
        margin-bottom: 10px;
        background: #fff;
        @include border-radius(5px);
        -webkit-box-shadow: 0px 0px 10px 0px rgba(181,181,181,0.7);
        -moz-box-shadow: 0px 0px 10px 0px rgba(181,181,181,0.7);
        box-shadow: 0px 0px 10px 0px rgba(181,181,181,0.7);

        table {
            width: 100%;

            td {
                vertical-align: top;
            }
        }

        .item-title {
            display: block;
            margin-bottom: 6px;
            color: #c3c3c3;
        }
    }
}