@import './../../assets/scss/mixins';
@import './../../assets/scss/fonts';

.timeline-item-form {
    margin-bottom: 20px;
    
    h2 {
        font-size: 20px;
        font-family: $font-bold;
        color: #545b64;
    }

    button {
        display: block;
        padding: 4px 8px;
        background: #fff;
        border: 1px solid #ccc;
        @include border-radius(5px);
        font-family: $font-regular;
        font-size: 13px;
        outline: none;
        cursor: pointer;
    }

    > div {
        display: flex;
        
        > div {
            width: 60%;
            padding: 15px;
            background: #fafbfd;
            border: 1px solid #ccc;
            @include border-radius(5px);

            h4 {
                font-family: $font-bold;
                text-align: center;
            }

            button {
                margin: 0 auto;
            }
        } 

        form {
            display: flex;
            flex-wrap: wrap;
            padding: 0 0 0 30px;

            div {
                width: 50%;
                margin-bottom: 20px;
                padding-right: 15px;
                box-sizing: border-box;

                label {
                    margin: 0 0 4px 0;
                    font-family: $font-bold;
                    font-size: 14px;
                    display: block;
                }
            
                input {
                    width: 100%;
                    padding: 8px 12px;
                    @include border-radius(5px);
                    border: 1px solid #ccc;
                    box-sizing: border-box;
                    outline: none;
                    font-size: 12px;
                    color: #545b64;
                }
            }

            .btn-save {
                color: #fff;
                background: #51c1c3;
                border: 1px solid #43a1a2;
            }
        }
    }
}