@import './../../assets/scss/mixins';
@import './../../assets/scss/fonts';

.timeline-container__item {
    table {
        width: 100%;

        td {
            vertical-align: top;

            .item-title {
                font-size: 12px;
                font-family: $font-regular;
            } 
        }
    }

    a {
        text-decoration: none;
    }

    span {
        display: block;

        
        &.item-date {
            margin-top: 2px;
            font-size: 13px;
            font-family: $font-regular;
            color: #545b64;
        }

        &.item-title {
            margin-bottom: 2px;
            color: #c3c3c3;
        }

        &.item-detail {
            font-size: 20px;
            font-family: $font-bold;
            color: #545b64;
        }

        &.item-notes {
            font-size: 14px;
            font-family: $font-regular;
            color: #545b64;
        }
    }

    .item-options {
        display: flex;
        margin-bottom: 6px;
        font-family: $font-regular;
        font-size: 12px;
        color: #51c1c3;
        cursor: pointer;

        img {
            margin-right: 4px;
        }
    }

    .item-status {
        &--PENDING {
            width: 79px;
            height: 24px;
            @include border-radius(18px);
            border: solid 1px #e87418;
            background-color: #ffe9d8;
            display: flex;
            align-items: center;
            justify-content: center;
            
            span {
                font-family: $font-bold;
                font-size: 12px;
                line-height: 1;
                letter-spacing: normal;
                color: #fb8a29;
            }
        }
    }

    .img-detail {
        width: 100%;
        background: #878787;
        @include border-radius(5px);

        img {
            width: 50%;
            display: block;
            margin: 0 auto;
            padding: 15px;
        }
    }
}